<!DOCTYPE html>
<html>
  <head>
    <title>Super Villain Quiz!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Lekton|News+Cycle|Purple+Purse|Ribeye+Marrow|Donegal+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
    <% if params.count > 2 %>
      <a href="/quiz"> << Take the Quiz! </a>
    <% end %>
  </body>
</html>