<!DOCTYPE html>
<html>
  <head>
    <title>Trivia Quiz!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <%= yield %>
    <% if params.count > 2 %>
      <a href="/">Take the Quiz Again!</a>
    <% end %>
  </body>
</html>