body {
  font-family: sans-serif;
  font-weight: 700;
  background-color: #7986D1;
  color: white;
  text-align: center;
}

h1 {
  position: fixed;
  min-height: 10px;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

a {
  color: white;
  font-size: 20px;
}

.centered {
  position: fixed;
  top: 30%;
  left:50%;
  margin-top: -90px;
  margin-left: -90px;
  text-align: center;
}


.button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3778bd), color-stop(1, #0d3678) );
  background:-moz-linear-gradient( center top, #3778bd 5%, #0d3678 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3778bd', endColorstr='#0d3678');
  background-color:#7986D1;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:29px;
  line-height:29px;
  width:97px;
  text-decoration:none;
  text-align:center;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d3678), color-stop(1, #3778bd) );
  background:-moz-linear-gradient( center top, #0d3678 5%, #3778bd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3678', endColorstr='#3778bd');
  background-color:#0d3678;
}

.button:active {
  position:relative;
  top:1px;
}